/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.h-om-ep-ag-e-block {
  display: flex;
  flex-direction: column;
  background-color: white; }

.h-om-ep-ag-e-block.layout {
  position: relative;
  overflow: hidden;
  min-height: 1024px;
  flex-shrink: 0; }

.h-om-ep-ag-e-flex {
  display: flex;
  flex-direction: column; }

.h-om-ep-ag-e-flex.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 32px 36px; }

.h-om-ep-ag-e-block3 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top; }

.h-om-ep-ag-e-block3.layout {
  position: relative;
  width: calc(100% - 10px);
  margin: 0px 0px 0px 10px; }

.h-om-ep-ag-e-hero-title {
  display: flex;
  justify-content: flex-end;
  font: 700 48px/1 "Inter", Helvetica, Arial, serif;
  color: #667080;
  text-align: right;
  letter-spacing: -0.96px; }

.h-om-ep-ag-e-hero-title.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 64.33%;
  margin: 52px auto 0px; }

.h-om-ep-ag-e-block2 {
  display: flex;
  flex-direction: column;
  background-color: #2e5a9f;
  border-radius: 6px 6px 6px 6px; }

.h-om-ep-ag-e-block2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 31.36%;
  margin: 66px auto 0px; }

.h-om-ep-ag-e-highlights {
  display: flex;
  justify-content: flex-end;
  font: 700 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: white;
  text-align: right;
  letter-spacing: -0.32px; }

.h-om-ep-ag-e-highlights.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 37.06%;
  margin: 35px auto 34px; }

.h-om-ep-ag-e-block1 {
  display: flex;
  flex-direction: column;
  background-color: #667080;
  border-radius: 6px 6px 6px 6px; }

.h-om-ep-ag-e-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 31.36%;
  margin: 66px auto 0px; }

.h-om-ep-ag-e-highlights.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 40.79%;
  margin: 35px auto; }

.h-om-ep-ag-e-block1.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 31.36%;
  margin: 66px auto 178px; }

.h-om-ep-ag-e-highlights1 {
  font: 700 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: white;
  letter-spacing: -0.32px; }

.h-om-ep-ag-e-highlights1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 43.12%;
  margin: 35px auto; }
