/* This source code is exported from pxCode, you can get more document from https://www.pxcode.io */
.games-predictor-block {
  display: flex;
  flex-direction: column;
  background-color: white; }

.games-predictor-flex2 {
  display: flex; }

.games-predictor-flex2.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 94.31%;
  margin: 29px auto; }

.games-predictor-block1 {
  width: 100%;
  height: auto;
  vertical-align: top;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: center top;
  object-position: center top; }

.games-predictor-block1.layout {
  position: relative; }

.games-predictor-flex3 {
  display: flex; }

.games-predictor-flex3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 43.63%;
  margin: 76px 23.09% 0px 33.28%; }

.games-predictor-hero-title {
  font: 700 48px/1 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.96px; }

.games-predictor-hero-title.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 15px; }

.games-predictor-flex3-spacer {
  flex: 0 1 5.5px; }

.games-predictor-subtitle2 {
  display: flex;
  justify-content: center;
  font: 20px/1.1 "Inter", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.4px; }

.games-predictor-subtitle2.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 41px 0px 0px; }

.games-predictor-flex4 {
  display: flex; }

.games-predictor-flex4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 90.43%;
  margin: 5px 4.05% 111px 5.52%; }

.games-predictor-flex4-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 377px; }

.games-predictor-cover-block {
  display: flex;
  flex-direction: column;
  border: 1px solid #f6ca56;
  border-radius: 5px 5px 5px 5px; }

.games-predictor-cover-block.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 2px 0px 0px; }

.games-predictor-text-body {
  font: 14px/1.57 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.28px; }

.games-predictor-text-body.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 23px 16px 0px; }

.games-predictor-block111 {
  display: flex;
  flex-direction: column; }

.games-predictor-block111.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 4px 16px 0px; }

.games-predictor-block31 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #667080;
  border-radius: 6px 6px 6px 6px; }

.games-predictor-block31.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.games-predictor-group {
  display: flex;
  flex-direction: column; }

.games-predictor-group.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px; }

.games-predictor-flex2.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.games-predictor-highlights2 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights2.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.games-predictor-flex1-spacer {
  flex: 0 1 198px; }

.games-predictor-flex1-item2 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 18px; }

.games-predictor-image1 {
  background: var(--src) center center/contain no-repeat; }

.games-predictor-image1.layout {
  position: relative;
  height: 6px;
  width: 12px;
  min-width: 12px;
  margin: 9px 6px 8px 0px; }

.games-predictor-line {
  background-color: #eef1f4; }

.games-predictor-line.layout {
  position: absolute;
  height: 1px;
  bottom: -104px;
  left: -12px;
  right: -12px; }

.games-predictor-text-body.layout1 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 17px 16px 0px; }

.games-predictor-block4 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #667080;
  border-radius: 6px 6px 6px 6px; }

.games-predictor-block4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 4px 16px 25px; }

.games-predictor-block4-item {
  display: flex;
  flex-direction: column;
  position: relative; }

.games-predictor-group.layout3 {
  position: relative;
  height: 48px; }

.games-predictor-block5 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px 8px 0px 0px; }

.games-predictor-block5.layout {
  position: absolute;
  overflow: hidden;
  top: 0px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 0px;
  left: 0px;
  right: 0px; }

.games-predictor-highlights3 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights3.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 13px 12px; }

.games-predictor-image11 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.games-predictor-highlights4 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights4.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 13px 12px 0px; }

.games-predictor-highlights5 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights6 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights6.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights7 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights7.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights8 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights8.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights9 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights9.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 13px; }

.games-predictor-undefined-spacer {
  flex: 0 1 39px; }

.games-predictor-undefined-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 377px; }

.games-predictor-cover-block1 {
  display: flex;
  flex-direction: column;
  border: 1px solid #f6ca56;
  border-radius: 5px 5px 5px 5px; }

.games-predictor-cover-block1.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 0px 0px 2px; }

.games-predictor-block32 {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid #667080;
  border-radius: 6px 6px 6px 6px; }

.games-predictor-block32.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 4px 16px 0px; }

.games-predictor-flex5 {
  display: flex; }

.games-predictor-flex5.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 12px; }

.games-predictor-highlights10 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights10.layout {
  position: relative;
  flex: 0 0 auto;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 1px 0px 0px; }

.games-predictor-flex-spacer {
  flex: 0 1 195px; }

.games-predictor-flex-item {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 18px; }

.games-predictor-text-body.layout2 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 17px 16px 0px; }

.games-predictor-group.layout4 {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content; }

.games-predictor-block5.layout1 {
  position: relative;
  overflow: hidden;
  height: 48px; }

.games-predictor-highlights11 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights11.layout {
  position: absolute;
  top: 13px;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  bottom: 13px;
  left: 12px;
  right: 12px; }

.games-predictor-line.layout1 {
  position: absolute;
  height: 1px;
  bottom: -1px;
  left: 0px;
  right: 0px; }

.games-predictor-image12 {
  background: var(--src) center center/contain no-repeat;
  width: 100%;
  height: 100%; }

.games-predictor-highlights12 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights12.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 13px 12px 0px; }

.games-predictor-highlights13 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights13.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights14 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights14.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights15 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights15.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights16 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights16.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 0px; }

.games-predictor-highlights17 {
  font: 16px/1.37 "Inter", Helvetica, Arial, serif;
  color: #667080;
  letter-spacing: -0.32px; }

.games-predictor-highlights17.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 26px 12px 13px; }

.games-predictor-undefined-spacer1 {
  flex: 0 1 90px; }

.games-predictor-undefined-item1 {
  display: flex;
  flex-direction: column;
  position: relative;
  flex: 0 1 345px; }

.games-predictor-flex51 {
  display: flex;
  flex-direction: column; }

.games-predictor-flex51.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  margin: 162px 0px 252px; }

.games-predictor-subtitle4-box {
  display: flex;
  justify-content: center; }

.games-predictor-subtitle4-box.layout {
  position: relative;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 21.74%;
  margin: 0px auto; }

.games-predictor-subtitle4 {
  overflow: visible;
  margin-top: 0px;
  margin-bottom: 0px;
  margin: 0px;
  font: 20px/1.1 "Inter", Helvetica, Arial, serif;
  color: black;
  text-align: center;
  letter-spacing: -0.4px;
  white-space: pre-wrap; }

.games-predictor-block6 {
  display: flex;
  flex-direction: column;
  background-color: #eef1f4;
  border: 3px solid #667080; }

.games-predictor-block6.layout {
  position: relative;
  height: 46px;
  margin: 20px 0px 0px; }

.games-predictor-decorator1.layout3 {
  position: absolute;
  top: 0px;
  height: 46px;
  width: 346px;
  right: -1px; }

.games-predictor-decorator1.layout4 {
  position: absolute;
  top: 0px;
  height: 46px;
  width: 346px;
  right: -1px; }
