<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link
      rel="stylesheet"
      type="text/css"
      href="https://unpkg.com/aos@2.3.1/dist/aos.css"
    />
    <link rel="stylesheet" type="text/css" href="/css/common.css" />
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/css/Insights_analytics3.css"
    />
  </head>

  <body style="display: flex; flex-direction: column">
    <div class="machine-learning insights-analytics3-block" style="margin-left: 50px;">
      <div class="insights-analytics3-flex layout1">
        <img src="./static/assets/37a0d17c7b756654825d4cd9f1abfb57.jpg" alt="" style="width: 1000px; height: 150px;">
        <h1 class="insights-analytics3-hero-title4 layout">
          Insights and Analytics
        </h1>
        <h3 class="insights-analytics3-subtitle1 layout">
          Features/Trend Analysis
        </h3>
        <a href="Insights_analytics1.html">
          <button action=""><a href="{{url_for('analysis2')}}">Previous</a> </a></button>
        </a>
        <div class="insights-analytics3-flex11 layout">
          <div class="insights-analytics3-flex1-item1">
            <div
              style="--src:url(assets/d60f5622ea12c14b8a24bac6a11cd104.png)"
              class="insights-analytics3-block23 layout"
            >
              <div
                style="--src:url(assets/a0e24bd7897544c5e070b98c1eca8da2.png)"
                class="layout1"
              ></div>
            </div>
          </div>
          <div class="insights-analytics3-cover-block-spacer1"></div>
          <div class="insights-analytics3-cover-block-item1">
            <div
              style="--src:url(assets/b42f90054d9d426a2da850812171afaf.png)"
              class="insights-analytics3-block3 layout"
            >
              <div
                style="--src:url(assets/5fa2df9678cfc3e62a705a4a2d4d80b1.png)"
                class="insights-analytics3-decorator2 layout"
              ></div>
            </div>
          </div>
          <div class="insights-analytics3-flex1-spacer1"></div>
          <div class="insights-analytics3-flex2-item1">
            <div
              style="--src:url(assets/d60f5622ea12c14b8a24bac6a11cd104.png)"
              class="insights-analytics3-block24 layout"
            >
              <div
                style="--src:url(assets/a0e24bd7897544c5e070b98c1eca8da2.png)"
                class="layout2"
              ></div>
            </div>
          </div>
        </div>
        <div class="insights-analytics3-flex23 layout">
          <div class="insights-analytics3-flex2-item3">
            <div class="insights-analytics3-group layout2">
              <div class="layout1"></div>
              <div
                style="--src:url(assets/17eaa1279cbf8fb23fff1e9899250d41.png)"
                class="layout2"
              ></div>
            </div>
          </div>
          <div class="insights-analytics3-flex3-spacer1"></div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
