<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">

  </head>

  <style>
    img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  h1, h3, button{
    margin-left: 430px;
  }

  button{
    width: 100px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 10px;
    margin-top: 10px;
  }

  </style>

  <body style="display: flex; flex-direction: column">
    <div class="machine-learning insights-analytics3-block" style="margin-left: 50px;">
      <div class="insights-analytics3-flex layout1">
        <img src="./static/assets/37a0d17c7b756654825d4cd9f1abfb57.jpg" alt="" style="width: 1000px; height: 150px;">
        <h1 class="insights-analytics3-hero-title4 layout">
          Insights and Analytics (Features/Trend Analysis)
        </h1>
        <a href="Insights_analytics1.html">
          <button action=""><a href="{{url_for('analysis2')}}">Previous </a></button>
        </a>
        <div class="insights-analytics3-flex11 layout">
            <img src="./static/assets/avg_3pa_year.png" alt="">
          </div>
          <div class="insights-analytics3-flex11 layout">
            <img src="./static/assets/win_pct_3pattempts_team.png" alt="">
          </div>
          <div class="insights-analytics3-flex11 layout">
            <img src="./static/assets/pie.png" alt="">
          </div>

          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
