<!DOCTYPE html>
<html>
  <!--  This source code is exported from pxCode, you can get more document from https://www.pxcode.io  -->
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/superhero/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/fonts.css" />
    <!-- <link rel="stylesheet" type="text/css" href="/css/common.css" /> -->
    <!-- <link rel="stylesheet" type="text/css" href="/css/MachineLearning.css" /> -->

  </head>

  <body style="display: flex; flex-direction: column">
    <div class="machine-learning machine-learning-block layout">
      <div class="machine-learning-flex layout" style="margin-left: 50px; margin-right: 50px;">
        <img src="./static/assets/37a0d17c7b756654825d4cd9f1abfb57.jpg" alt="" style="width: 1000px; height: 150px;">
        <h1 class="machine-learning-hero-title5 layout">Machine Learning</h1>
        <h2 class="machine-learning-medium-title layout">
          Why we chose Logistic Regression / Neural Network?
        </h2>
        <h5 class="machine-learning-highlights1-box layout">
          <pre class="machine-learning-highlights1">
Supervised Learning – NBA Data are labeled.

Classification – We are trying to predict 

Discrete Outcomes e.g. WIN/LOSS.

Logistic Regression – We are predicting binary outcomes i.e. WIN/LOSS
</pre
          >
        </h5>
        <div
          style="--src:url(assets/ba23d00f3d92e8aa42c2725152cb3b2a.png)"
          class="machine-learning-image layout"
        ></div>
      </div>
    </div>
    <script type="text/javascript">
      AOS.init();
    </script>
  </body>
</html>
